/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color:darkblue;
  color: white;
}

.logo img {
  height: 40px; /* Adjust height to fit your header */
  width: auto; /* Keeps image ratio correct for rectangular images */
}


/* Logo */
.logo {
  display: flex;
  align-items: center;
}


/* Navigation Links */
.nav-links a {
  margin-left: 20px;
  color: white;
  padding-right: 70px;
  text-decoration: none;
}
.nav-links a::after{
    content: '';
    width: 0%;
    height: 4px;
    display: block;
    margin: auto;
    transition: 0.5s;
    background-color:rgb(234, 250, 6);
    border-radius: 10px;

}
.nav-links a:hover:after{
    width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
}

/* Icons section */
.icons {
  display: flex;
  align-items: center;
}

/* Search icon */
.search-icon {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

/* Search Box */
.search-box {
  display: none;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  
}

.search-box input {
  padding: 8px 12px;
  width: 80%;
  margin-top: 80px;
  max-width: 400px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Menu icon */
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Side Navigation */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 70px;
  right: 0;
  background-color: green;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  z-index: 1000;
}

.side-nav a {
  display: block;
  padding: 12px 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
 
}

.side-nav a:hover {
  background-color: #575757;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 600px) {
 
}



/*-------body----*/


.container-0 h2{
   padding-top: 10px;
   margin-left: 30px;
   font-size: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.container1{
    display: flex;
    background: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(Images/img1.jpg) no-repeat center center/cover;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 90%;
    margin-left: 0%;
    margin-right: 10%;
    min-height: 100vh;
    align-items: center;
    margin-top: 0px;
    background-color:oldlace ;
    border-radius: 10px;
    margin-top: 110px;


}

.my-introduction{
    text-align: left;
    margin-left: 50px;
    

}
.my-introduction h1{
    font-size: 2.0rem;
    color: yellow;
   
    padding: 20px;

}
.my-introduction h2{
    font-size: 3.0rem;
    color: rgb(244, 243, 248);
    padding: 10px;
  

}
.my-introduction p{
    font-size: 2.0rem;
    color:rgb(250, 247, 247);
    text-align: center;
    margin-right:30px;

}
.img-1 img{
    width: 500px;
    height: 450px;
    padding: 20px;
    
}
.link-1{
    color: white;
    display: inline-block;
    background-color:darkblue;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40%;
}

.link-1:hover{
    transition: 0.5s;
    background-color: aqua;   
}

/*--item sold---*/





.item-1{
    margin-left: 5px;
    background-color:rgba(240, 232, 232, 0.884);
    padding: 15px;
    border-radius: 10PX;
    border: hidden;


}
.item-1 img{
    width: 300px;
    height: 300px;

}
.item-1 P{
    font-size: 14PX;
    font-style: normal;
    font-weight: bold;
    padding: 10PX;
    text-align: center;
    

    
}
.item-1 h2{
    margin-left: 20px;
    color: rgb(252, 10, 22);

}




/*--about us--*/
.sec-2{
    width: 100%;
    margin-top: 70px;


}
.about-us h1{
    width: 100%;
    padding: 30px 30px 20px;
    font-size: 50px;
    color: #111;
    text-decoration: underline red solid;



    

}
.container2{
    width: 100%;
   
    
    
}
.box{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
    
    
}

.img-2{
  width: 60%; 
  margin-left: 10%;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 70%;
    font-size: 2.0rem;
    margin-left: 3.5rem;
    text-align: center;
       
}



.paragraph-1 a{
background-color: blue;
padding:8px 25px ;
font-size: 20px;
margin-left: 35%;
transition: 0.5s;
border-radius: 3px;
color: red;
}
.paragraph-1 a:hover{
    background-color: orange;

}


/*--our services---*/
.sec-3{
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
    min-height: 100vh;
}
.paragraph-2 h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 44px;
    color: #111;
    font-size: 30px;
    padding-top: 50px;
    margin-left: 30px;
    text-decoration: underline red solid;
}

.paragraph-2 p{
    margin-top: 5.0rem;
    color: rgb(36, 37, 37);
    font-size: 24px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  
}

.container3{
    width: 100%;
    min-height: 120vh;
    margin-top: 50px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border-radius: 10px;

}
.crochet{
    width: 30%;
    

}
.container3a{
    align-items: center;
    width: 100%;
    padding: 30px 20px 30px;
    
    margin-bottom: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(7, 135, 247);
    padding: 10px;

}

.interior{
    width: 30%;
   
}
.fashion{
  width: 30%;
   
}




.container3a h1{
text-align: center;
margin-bottom: 30px;
font-size: 30px;
text-decoration: underline blue solid;


}
.img-3 img{
    width: 300px;
    height: 250px;
    min-width: 100%;
    border-radius: 5px;
    background: center;
    

}

.paragraph-3a p{
    
    width: 100%;
    font-size: 25px;
    

}


.paragraph-3a a{
    background-color: blue;
    padding:8px 18px ;
    margin-left: 40%;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 3px;
    color: red;
    }
    .paragraph-2 a:hover{
        background-color: white;
    
    }

  
    .back-to-top{
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: #333;
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
        transition:0.3s;
    }
    .back-to-top:hover{
        background-color: #555;
    }

    html{
        scroll-behavior: smooth;
    }
    




/*--FOOTER*/

/* SECTION SIX */
#sec-6{
    background: linear-gradient(rgba(80, 36, 201, 0.9),rgba(107, 32, 204, 0.9)), url(Images/img1.jpg) no-repeat center center/cover;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 0.8rem;
}
#sec-6 .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 15px;
    color:white;
    font-size: 15px;
    
}
#sec-6 h1{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.1rem;
}
#sec-6 .about h2{
    font-size: 1.3rem;
    font-weight: 800;
    font-style: italic;
    color: var(--haccent);
    padding-bottom: 5px;
    margin-bottom: 1rem;
}
#sec-6 .about h2 p{
    color: var(--txtaccent1);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0px;
}
#sec-6 .about>p{
    margin-bottom: 1.5rem;
}
#sec-6 .about a{
    display: inline-flex;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
    background-color: var(--haccent);
    font-size: 1.25rem;
    color: var(--bgaccent);
    justify-content: center;
    align-items: center;
    transition: background-color ease-in;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

#sec-6 .about img{
    width: 30px;
    border-radius:100%;
    text-align: center;
}
#sec-6 .about i{
    vertical-align: baseline;

}
#sec-6 .about a:hover{
    background-color: var(--txtaccent5);
}
#sec-6 .links a{
    color: inherit;
    
    text-decoration: none;
    display: block;
}
#sec-6 .links a{
    position: relative;
    padding: 0.2em;
    padding-left: 25px;
}
#sec-6 .links a::before{
    content: '';
    position: absolute;
    border: 0.35em solid transparent;
    border-left-color: var(--txtaccent5);
    left: 0px;
    top: 0.8em;
}
#sec-6 .links a:hover{
    text-decoration: underline;
}
#sec-6 .posts a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 1.1em;
    transition: background-color 0.7s ease-out;
    margin-left: -5px;
}
#sec-6 .posts a:hover{
    background-color: var(--haccent_withOpacity);
    color: var(--txtaccent);
}
#sec-6 .posts a span{
    display: inline-flex;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: solid 2px var(--txtaccent5);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin-right: 10px;
}
#sec-6 .contact p{
    margin-bottom: 15px;
    display: flex;
    margin-left: -1em;
}
#sec-6 .contact p::before{
    font-family: fontAwesome;
    display: inline-flex;
    min-width: 2em;
    justify-content: center;
    font-size: 1.2em;
}
#sec-6 .contact p:first-of-type::before{
    content: "\f3c5";
}
#sec-6 .contact p:nth-of-type(2)::before{
    content: "\f0e0";
}
#sec-6 .contact p:last-of-type::before{
    content: "\f3cd";
}
/* SECTION SEVEN */
#sec-7 {
    background-color:rgb(36, 37, 37);
    padding: 20px 0px 10px;
    text-align: center;
    font-size: 0.7rem;
    color: yellow;
}
#sec-7 p{
    color: var(--txtaccent5);
}
#sec-7 p span{
    color: var(--haccent);
}


/*MEDIA QUERRIES*/
/*Smart phones */
@media (min-width: 400px){
    html{
        font-size: 13px;
    }
    header {
        width:400px;
        
    }
    .navbar {
        background-color: transparent;
    }
    .navbar ul li {
       display:none ;
    }
    .navbar ul li a {
        transform: translateY(25px);
    }
    .navbar img{
        width: 9%;
    }
    .join-us{
        margin: 5px 5px;
        font-size: 10px;
        font-weight: 600;
    }

    #join-us{
        width: 6%;
    }
    .container1{
        margin-top: 55px;
    }

    .my-introduction p{
        font-size: 30px;
    }
    .link-1{
        margin-left: 25%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    /* about us*/

    .sec-2{
    width: 400px;
    margin-top: 70px;


}
.about-us h1{
    width: 100%;
    text-align: center;
    padding: 30px 30px 20px;
    font-size: 50px;
    color: #111;
    text-decoration: underline red solid;



    

}
.container2{
    width: 400px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    font-size: 2.0rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    text-align: center;
       
}



.paragraph-1 a{
background-color: blue;
padding:8px 25px ;
font-size: 20px;
margin-left: 35%;
transition: 0.5s;
border-radius: 3px;
color: red;
}
.paragraph-1 a:hover{
    background-color: orange;

}


/*servises*/

.sec-3{
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
    min-height: 100vh;
}
.paragraph-2 h1{
    text-align: center;
    
}

.paragraph-2 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
  
}

.container3{
    width: 100%;
    flex-direction: column;
    
   
   

}
.crochet{
    width: 100%;
    

}


.interior{
    width: 100%;
   
}
.fashion{
  width: 100%;
   
}




.container3a h1{
text-align: center;
margin-bottom: 30px;
font-size: 30px;
text-decoration: underline blue solid;


}
.img-3 img{
    width: 300px;
    height: 250px;
    min-width: 100%;
    border-radius: 5px;
    background: center;
    

}

.paragraph-3a p{
    
    width: 100%;
    font-size: 25px;
    

}


.paragraph-3a a{
    background-color: blue;
    padding:8px 18px ;
    margin-left: 40%;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 3px;
    color: red;
    }
    .paragraph-2 a:hover{
        background-color: white;
    
    }


}

/* Medium devices ( 320px) */

@media (min-width: 320px){
    html{
        font-size: 14px;
    }
    header {
        width: 320px;
        
    }

    .navbar ul li {
       display:none ;
    }

     .navbar img{
        width: 14%;
    }
    .join-us{
        margin: 5px 5px;
        font-size: 10px;
        font-weight: 600;
    }

    #join-us{
        width: 8%;
    }
     .container1{
        margin-top: 55px;
    }
    
     .link-1{
        margin-left: 20%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }   
   

     /* about us*/

    .sec-2{
    width: 320PX;
    align-items: center;
    margin-top: 70px;


}
.container2{

    width:320px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}

/*servises*/

.container3{
    width: 100%;
    flex-direction: column;
    
   
   

}
.crochet{
    width: 100%;
    

}


.interior{
    width: 100%;
   
}
.fashion{
  width: 100%;
   
}


}

/* Medium devices ( 344px) */

@media (min-width: 344px){
    html{
        font-size: 14px;
    }
    header {
        width: 344px;
        
    }

    .navbar ul li {
       display:none ;
    }

     .navbar img{
        width: 14%;
    }
    .join-us{
        margin: 5px 5px;
        font-size: 10px;
        font-weight: 600;
    }

    #join-us{
        width: 8%;
    }
     .container1{
        margin-top: 55px;
    }
    
     .link-1{
        margin-left: 20%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }   
   

     /* about us*/

    .sec-2{
    width: 344PX;
    align-items: center;
    margin-top: 70px;


}
.container2{

    width:344px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}

/*servises*/

.container3{
    width: 100%;
    flex-direction: column;
    
   
   

}
.crochet{
    width: 100%;
    

}


.interior{
    width: 100%;
   
}
.fashion{
  width: 100%;
   
}


}
/* Medium devices ( 360px) */

@media (min-width: 360px){
    html{
        font-size: 14px;
    }
    header {
        width: 360px;
        
    }

    .navbar ul li {
       display:none ;
    }

     .navbar img{
        width: 9%;
    }
    .join-us{
        margin: 5px 5px;
        font-size: 10px;
        font-weight: 600;
    }

    #join-us{
        width: 6%;
    }
     .container1{
        margin-top: 55px;
    }
    
     .link-1{
        margin-left: 20%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }   
   

     /* about us*/

    .sec-2{
    width: 360PX;
    align-items: center;
    margin-top: 70px;


}
.container2{

    width:360px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}

/*servises*/

.container3{
    width: 100%;
    flex-direction: column;
    
   
   

}
.crochet{
    width: 100%;
    

}


.interior{
    width: 100%;
   
}
.fashion{
  width: 100%;
   
}


}


/* Medium devices ( 375px) */

@media (min-width: 375px){
    html{
        font-size: 14px;
    }
    header {
        width: 375px;
        
    }

    .navbar ul li {
       display:none ;
    }

     .navbar img{
        width: 9%;
    }
    .join-us{
        margin: 5px 5px;
        font-size: 10px;
        font-weight: 600;
    }

    #join-us{
        width: 6%;
    }
     .container1{
        margin-top: 55px;
    }

     /* about us*/

    .sec-2{
    width: 375PX;
    align-items: center;
    margin-top: 70px;


}
.container2{

    width:375px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}

/*servises*/

.container3{
    width: 100%;
    flex-direction: column;
    
   
   

}
.crochet{
    width: 100%;
    

}


.interior{
    width: 100%;
   
}
.fashion{
  width: 100%;
   
}


}
/* Medium devices ( 390px) */

@media (min-width: 390px){
    html{
        font-size: 14px;
    }
    header {
        width: 390px;
        
    }
}

/* Medium devices (411px) */
@media (min-width: 411px) {
    html{
        font-size: 14px;
    }
    header {
        width: 411px;
        
    }


    .navbar ul li {
       display: none;
    }
     .container1{
        margin-top: 59px;
        width: 411px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        width: 5%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 411PX;
    margin-top: 70px;


}
.container2{
    width: 411px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
}
/* Medium devices ( 430px) */

@media (min-width: 430px){
    html{
        font-size: 14px;
    }
    header {
        width: 430px;
        
    }
}

/* Medium devices ( 414px) */

@media (min-width: 412px){
    html{
        font-size: 14px;
    }
    header {
        width: 414px;
        
    }
     /* about us*/

    .sec-2{
    width: 412PX;
    align-items: center;
    margin-top: 70px;


}
.container2{

    width: 412px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}


}



/* Medium devices ( 480px) */

@media (min-width: 480px){
    html{
        font-size: 14px;
    }
    header {
        width: 480px;
        
    }
     /* about us*/

    .sec-2{
    width: 480PX;
    align-items: center;
    margin-top: 70px;


}
.container2{

    width: 480px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}


}

/* Medium devices (540px) */
@media (min-width: 540px) {
    html{
        font-size: 14px;
    }
    header {
        width: 540px;
        
    }


    .navbar ul li {
       
       display: none;

    }
    .navbar ul li a {
       font-size: 14px;
       
    }
     .container1{
        margin-top:60px;
        width: 540px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        width: 4%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 540PX;
    margin-top: 70px;


}
.container2{
    width: 540px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
}

/* Medium devices ( 600px) */

@media  (min-width: 600px){
    html{
        font-size: 14px;
    }

    .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
 header {
        width: 600px;
        
    }
     /* about us*/

 .sec-2{
    width: 600PX;
    align-items: center;
    margin-top: 70px;
    


}
.container1{
    width: 600px;

}
.my-introduction h1{
    font-size: 20px;
    text-align: center;
}
.my-introduction p{
    font-size: 14px;
}
.link-1{
    text-decoration: none;

}

.sec-2{
    width: 600px;
}
.about-us h1{
    font-size: 20px;
}
.container2{

   width: 600px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: auto;
}

.img-2{
  width: 70%; 
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 p{
    font-size: 14px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.sec-3{
    width: 600px;
    height: auto;
    background-color: white;
}
.paragraph-2 h1{
    font-size: 20px;
    text-align: center;
}
.paragraph-2 p{
    font-size: 14px;
    width: 70%;
     margin-left: 15%;
    margin-right: 15%;

}
.container3{
    width: 600px;
}
.crochet{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

     
}
.img-3 img{
    width: 50%;
    display: flex;

}
.paragraph-3a{
    text-align: center;
    padding-top: 30px;
}
.paragraph-3a a{
    margin-left: 30%;
}
.interior{
    width: 70%;
     margin-left: 15%;
    margin-right: 15%;
}
.fashion{
    width: 70%;
     margin-left: 15%;
    margin-right: 15%;
}


}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{
        font-size: 14px;
    }
    header {
        width: 780px;
        
    }


    .navbar ul li {
       display: none;
    }
     .container1{
        margin-top: 59px;
        width: 780px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        width: 5%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 768PX;
    margin-top: 70px;


}
.container2{
    width: 768px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
/* serveses*/

.crochet{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    

}


.interior{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
   
}
.fashion{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
    
   
}

   
/*others*/
    #nav header.top {
        padding-top: 0px;
    }
    #nav{
        background-position: center center;
    }
    #nav header.top .container {
        justify-content: flex-start;
    }
    #nav header.top p {
        width: fit-content;
        margin-right: 10px;
    }
    #nav .top .social {
        width: fit-content;
        flex-grow: 1;
    }
    #nav header label{
        display: none;
    }
    #nav header nav a {
        border-style: none;
    }
    #navinput + nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: fit-content;
        position: static;
        border-radius: none;
        font-size: 0.8rem;
    }
    #nav input:checked + nav {
        display: flex;
    }
    #nav article{
        padding: 5rem 0px;
    }
    #nav article h1{
        font-size: 2rem;
    }
    #nav article h2{
        font-size: 3.5rem;
    }
    #nav #searchBox {
        min-width: 35%;
    }
    #sec-1 { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #sec-1  p{
        padding: 0px;
        text-align: left;
        width:51%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    #sec-1 .vision-image{
        padding-right: 1rem;
    }
    #sec-1 aside {
        width: 48%;
        margin: 0px;
        text-align: right;
    }
    #sec-2{
        padding: 4rem 0px 2.5rem;
    }
    #sec-2 article{
        justify-content: space-between;
    }
    #sec-2 article figure{
        max-width: 40%;
    }
    #sec-2 article figure img{
        max-width: 55%;
    }
    #sec-3 {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    #sec-3 .cont{
        flex-direction: row;
    }
    #sec-3 .card{
        width: 48%;
    }
    #sec-3 .card:last-child{
        margin-left: auto;
        margin-right: auto;
    }
    #sec-4 .cont{
        width: 100%;
        margin: 0px;
    }
    #sec-4 aside img{
        margin-bottom: 15px;
        width: 48%;
    }
    #sec-5 h1+p{
        padding: 0px 6rem;
    }
    #sec-5 .cont{
        gap: 5vw;
    }
    #sec-5 article{
        width: 43%;
    }
    #sec-5 .contactUs form input+p{
        bottom: 4px;
    }
    #sec-6 .container{
        justify-content: space-between;
        row-gap: 25px;
    }
    #sec-6 .about{
        width: 65%;
    }
    #sec-6 .links{
        width: 20%;
    }
    #sec-6 .posts {
        width: 65%;
    }
    #sec-6 .contact {
        width: 20%;
    }
}

/* Medium devices (820px) */
@media (min-width: 820px) {
    html{
        font-size: 14px;
    }
    header {
        width: 820px;
        
    }


    .navbar ul li {
       display: none;
    }
     .container1{
        margin-top: 59px;
        width: 820px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        width: 5%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 820PX;
    margin-top: 70px;


}
.container2{
    width: 820px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
}

/* Medium devices (853px) */
@media (min-width: 853px) {
    html{
        font-size: 14px;
    }
    header {
        width: 853px;
        
    }


    .navbar ul li {
       display: none;
    }
     .container1{
        margin-top: 59px;
        width: 853px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        width: 5%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 853PX;
    margin-top: 70px;


}
.container2{
    width: 853px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
}
/* Medium devices (912px) */
@media (min-width: 912px) {
    html{
        font-size: 14px;
    }
    header {
        width: 912px;
        
    }


    .navbar ul li {
       
       display: inline-block;

    }
    .navbar ul li a {
       font-size: 14px;
       
    }
     .container1{
        margin-top: 110px;
        width: 912px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        width: 4%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 912PX;
    margin-top: 70px;


}
.container2{
    width: 912px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
}
/* Medium devices (1024px) */
@media (min-width: 1024px) {
    html{
        font-size: 14px;
    }
    header {
        width: 1024px;
        
    }


    .navbar ul li {
       
       display: inline-block;

    }
    .navbar ul li a {
       font-size: 14px;
       
    }
     .container1{
        margin-top: 59px;
        width: 1024px;
        min-height: 50vh;

    }

     .link-1{
        margin-left: 35%;
        padding: 5px 15px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
    }

    #join-us{
        display: block;
        width: 4%;
        margin: 5px 5px;
        font-size: 7px;
    }

     /* about us*/

    .sec-2{
    width: 1024PX;
    margin-top: 70px;


}
.container2{
    width: 1024px;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.img-2{
  width: 90%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px;
}

.img-2 img{
    width: 100%;
    border-radius: 5px;
}
.paragraph-1 {
    width: 100%;

    


    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
       
}
}

/* Standard PC screens */
@media (min-width: 1200px) {
    html{
        font-size: 15px;
    }
    header {
        width: 100%;
    }
    #join-us{
        display: none;
    }
     .navbar ul li {
       display:inline-block;
    }

    .container1{
        margin-top: 117px;
        min-height: 100vh;
        width: 100%;
    }

/*about*/
    .sec-2{
    width: 100%;
    margin-top: 70px;
    
    
    }

    .container2{
    width: 100%;
    flex-direction: row;
    align-items: center;
   
  
}
    


    .img-2{
  width: 40%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  border-radius: 5px  ;
  float: left;
}

.img-2 img{
    width: 90%;
    border-radius: 5px;
    margin: 5%;
    
}
.paragraph-1 {
    width: 50%;
    float: right;
    
}
.paragraph-1 p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
          
}

/*servises*/

.container3{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
.crochet{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    

}


.interior{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    
   
}
.fashion{
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
    
   
}


    /*others*/
    #sec-0 .top .social {
        gap: 10px ;
    }
    #sec-0 header:last-of-type .container{
        padding: 0.95rem 0px;
    }
    #sec-0 header nav a {
        margin-right: 10px;
        font-size: 0.92rem;
    }
    #sec-0 article p{
        padding-left: 14rem;
        padding-right: 14rem;
    }
    #sec-1 article h1{
        font-size: 2.7rem;
    }
    #sec-1 article h2{
        font-size: 1.8rem;
    }
    #sec-2{
        background-position: center top;
    }
    #sec-2 article{
        justify-content: space-evenly;
    }
    #sec-2 article figure{
        max-width: 21%;
    }
    #sec-3 {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    #sec-3 .card{
        width: 31%;
    }
    #sec-3 .card:last-child{
        margin-left: 0px;
        margin-right: 0px;
    }
    #sec-4 .cont{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #sec-4 .cont>img{
        width: 50%;
        margin: 0px;
    }
    #sec-4 aside{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 49%;
        gap: 10px;
    }
    #sec-4 aside img{
        width: 49%;
        margin: 0px;
    }
    #sec-5{
        background-position: right center;
    }
    #sec-5 .cont{
        justify-content: space-between;
        gap: 0px;
        padding-bottom: 25px;
    }
    #sec-5 article{
        width: 30%;
    }
    #sec-5 .contactUs>.container {
        display: flex;
        justify-content: space-between;
    }
    #sec-5 .contactUs aside{
        width: 45%;
        text-align: left;
    }
    #sec-5 .contactUs form {
        width: 45%;
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #sec-5 .contactUs form input {
        margin-right: 15px;
    }
    #sec-5 .contactUs form input:not(input[type=submit]) {
        flex-grow: 1;
    }
    #sec-5 .contactUs form input+p{
        text-align: left;
    }
    #sec-6 .container{
        justify-content: space-between;
        row-gap: 25px;
    }
    #sec-6 .about{
        width: 30%;
    }
    #sec-6 .links{
        width: 15%;
    }
    #sec-6 .posts {
        width: 20%;
    }
    #sec-6 .contact {
        width: 18%;
    }
}
@media (min-width: 1400px) {
    html{
        font-size: 17px;
    }
    .container {
        width: 1340px;
    }
}

/* END OF SHEET */